@{
  ViewBag.Title = "Delete All Items";
  Layout = "_Layout";
}

<h1>All things have been deleted.</h1>

<a href="/thingstobring/new">Create new thing to pack</a>
<a href="/thingstobring">See your list of things</a>