<a href="/thingstobring/new">Create new thing to pack</a>
<a href="/thingstobring">See your list of things</a>
<form action="/thingstobring/deleteall" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>